@mixin position_fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
@mixin default_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@mixin default_row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@mixin btn_default {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}
@mixin default_col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@mixin default_dropdown {
  position: relative;
  display: inline-block;
}
@mixin default_dropdown_content {
  display: none;
  position: absolute;
  right: 0%;
  top: 100%;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px #2d2b70;
  z-index: 1;
}
@mixin default_form_input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
@mixin default_burger {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 22px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}