@import "navigation.scss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
body {
  color: #222;
  font-family: "Audiowide", cursive;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  padding-top: 95px;
}
a {
  text-decoration: none;
  color: #222;
}
/* Section: banner-area start */
.banner-area {
  display: block;
  position: relative;
  background: url(../images/pub_background.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  .overlay-bg {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.banner-title {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin: 2.5rem 0;
}
.banner-p-m {
  margin-top: 70px;
  padding: 90px 0;
}

/* banner button */
.btn-banner {
  @include btn-blog;
  background: #fff;
  color: #222;
  &:hover {
    background: transparent;
    border-color: #2d2b70;
    color: #2d2b70;
  }
}
/* Section: banner-area end */

/*Section: top-category start */
.top-category {
  padding: 90px 0;
}

.overlay-bg-tcategory {
  margin: 7%;
  background-color: rgba(0, 0, 0, 0.85);
}
.span-line {
  display: inline-block;
  background: #fff;
  width: 60%;
  height: 1%;
}
.card {
  border: none;
  &:hover {
    box-shadow: 0px 10px 20px 20px #2d2b70;
    transition: $transition;
    .card-img-overlay:hover {
      background: #2d2b70c4;
      transition: $transition;
    }
  }
}
/* Section: post-content start */

.btn-pcontent {
  @include btn-blog;
  color: #222;

  &:hover {
    background: #2d2b70;
    color: #fff;
  }
}

.search-form input[type="search"] {
  color: #fff;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: #83d5f7;
  ~ .form-label {
    color: #2d2b70 !important;
  }
}

.form-outline .form-control.active ~ .form-label,
.form-outline .form-control:focus ~ .form-label {
  -webkit-transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
  transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8);
  margin-bottom: -0.25rem;
}
#btn-search {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #2d2b70;
  &:focus,
  &:hover {
    background-color: #83d5f7;
  }
}
