@import "navigation.scss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
  color: #222;
  font-family: "Audiowide", cursive;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  padding-top: 95px;
}
/* Section: banner-area start */
.banner-area {
  display: block;
  position: relative;
  background: url(../images/pub_background.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.banner-title {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}
